doctype html
html
   head
        title NodeJS Project
        link(rel='stylesheet' href='/stylesheets/style.css')
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
   body

    div(id='div-top')
     form(method='POST' id='formSub' required)
      input(type='text' id='inputSubmit' name='valueFromInput')
      label   Поиск дел
      input(type='checkbox' id='completedCheckbox' name='isCheckboxCheck' size='50' checked)
      label Искать только невыполненные
    div(id='div-table')
    script(type="module" src="/javascripts/script.js")

